streamlit>=1.32.0
streamlit-webrtc>=0.43.0
openai>=1.0.0
elasticsearch==8.13.0
pydub
pandas
numpy
# add any other modules you're using
streamlit-audiorecorder
faster-whisper
python-dotenv
imageio-ffmpeg
